/* Keyframes for slide animation */
@keyframes slideYright {
    from {
        transform: translateY(-300px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideYleft {
    from {
        transform: translateY(300px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
    }
}


.sectionMain{
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* General Section Styling */
.wrapper {
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   
    
}

.iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 60%;
    z-index: 0;
    pointer-events: none; /* Prevent iframe from capturing clicks */
    border: none; /* Remove border */
    outline: none; /* Remove any outline */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    animation: slideYright 0.7s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  }

.Image{
    width:600px;
    height: 600px;
    animation: slideYright 0.7s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}
  

.section h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    animation: slideYright 0.7s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

/* Register Form Container */
.container {

    width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    animation: slideYleft 0.7s cubic-bezier(0.65, 0, 0.35, 1) forwards;
    
}


.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: 700;
    color: #235ba0;
}

/* Input Group Styles */
.inputGroup {
    margin-bottom: 15px;
    position: relative;
    padding: 2px 15px;

}

.inputLabel{
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.8em;
    font-weight: 600;
    color: #0375cd;
}

.inputField {
    width: 100%;
    padding: 5px 0px;
    border: none;
    border-bottom: 2px solid #dad9d9;
    font-size: 13px;
    background: transparent;
    transition: border-bottom-color 0.3s ease;
}

.inputField:focus {
    outline: none;
    border-bottom-color: #235ba0;
    box-shadow: 0px 3px 0px 0px rgba(35, 91, 160, 0.2);
}

.inputField::placeholder {
    color: #aaa;
    font-size: 14px;
}

/* Button and OTP Styles */
.inputWithButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.verifyButton {
   
    color: rgb(255, 4, 4);
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
}

.verifyButton:hover {
    color: rgb(181, 87, 87);
}
.verifiedSpan{
    color: green;
    font-size: 12px;
    margin-left: 10px;
}

/* OTP Input Styling */
.otpContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.otpBox {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Error Message Styling */
.errorMessage {
   
    text-align: center;
    margin-top: 5px;
    font-size: 11px;
    color: red;
}

/* Success Message Styling */
.successMessage {
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
    color: green;
}
.buttonDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Submit Button */
.submitButton {
 
    background-color:  #235ba0;
    color: white;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.submitButton:hover {
    background-color: #577ee2;
}

/* Password Toggle */
.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}




/* Mobile Display Adjustments */
@media(max-width: 768px) {

    .wrapper {
        width: 80%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
       
        
    }
  
    .container {
        max-width: 90%;
    }

    .otpBox {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }

    .popup-content {
        width: 300px;
    }
}
